<script setup>
import { Head, Link, useForm } from '@inertiajs/inertia-vue3';
import { computed } from 'vue';
import 'vue3-carousel/dist/carousel.css';
import { Carousel, Slide } from 'vue3-carousel';
import Pagination from '@/Components/Pagination.vue';

const props = defineProps({
    canLogin: Boolean,
    canRegister: Boolean,
    cars: Object,
    filters: Object
});
//console.log(props.cars);

const years = computed(() => {
    const year = new Date().getFullYear()
    return Array.from({length: year - 1960}, (value, index) => 1961 + index)
});

const form = useForm({    
        brand:'',
        fromyear:1960,
        toyear:'',            
        pricefrom:0,
        priceto:99999,
        gearbox:'',
        emissions:'',
        service:'',                             
        filter:''
});

if(props.filters){
    form.brand= props.filters.brand;    
    form.fromyear= props.filters.fromyear;
    form.toyear= props.filters.toyear;            
    form.pricefrom= props.filters.pricefrom;
    form.priceto= props.filters.priceto;
    form.gearbox= props.filters.gearbox;
    form.emissions= props.filters.emissions;
    form.service= props.filters.service;                             
    form.filter= props.filters.filter;
}

function reset() {
    form.reset('brand','fromyear','toyear','pricefrom','priceto','gearbox','emissions','service','filter');
}

const submit = () => {
    form.get(route('cars.index'));
};

</script>

<template>    
    <Head title="LaravelAutoMag" />          
    <div class="relative flex items-top justify-center min-h-screen bg-gray-100 dark:bg-gray-900 sm:items-center sm:pt-0">       
        <div v-if="canLogin" class="hidden fixed top-0 right-0 px-6 py-4 sm:block">
            <Link v-if="$page.props.user" :href="route('dashboard')" class="text-sm text-gray-700 dark:text-gray-500 underline">Dashboard</Link>
            <template v-else>
                <Link :href="route('login')" class="text-sm text-gray-700 dark:text-gray-500 underline">Log in</Link>

                <Link v-if="canRegister" :href="route('register')" class="ml-4 text-sm text-gray-700 dark:text-gray-500 underline">Register</Link>
            </template>
        </div>
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">                   
                    <h1 class="greeting col-sm-8 text-center m-auto display-1 font-weight-bold align-items-center align-self-center align-middle" >AutoMag-Search Car</h1>
                    <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg px-4 py-4">
                    <form @submit.prevent="submit">      
                        <table class="table-fixed border-solid">
                            <tr>
                                <td><label for="brand">Car Brand:</label></td>
                                <td><input type="text" v-model="form.brand" class="ml-2 px-4 py-1 text-sm rounded border"></td>
                            </tr>
                            <tr>
                                <td><label for="price">Car Year:</label></td>
                                <td>
                                    <select v-model="form.fromyear" class="ml-2 px-4 py-1 text-sm rounded border">
                                        <option disabled value="">(from year)</option>                                  
                                        <option v-for="year in years" :value="year">{{ year }}</option>
                                    </select>
                                </td>
                                <td>
                                    <select v-model="form.toyear" class="ml-2 px-4 py-1 text-sm rounded border">
                                        <option disabled value="">(to year)</option>                                  
                                        <option v-for="year in years" :value="year">{{ year }}</option>
                                    </select>
                                </td>                  
                            </tr>
                            <tr>
                                <td><label for="price">Car Price:</label></td>
                                <td><input type="number" v-model="form.pricefrom" placeholder="(from)" class="ml-2 px-4 py-1 text-sm rounded border"></td>
                                <td><input type="number" v-model="form.priceto" placeholder="(to)" class="ml-2 px-4 py-1 text-sm rounded border"></td>                  
                            </tr>
                            <tr>            
                                <td><label for="gearbox">Car Gearbox:</label></td>
                                <td>
                                    <input type="radio" v-model="form.gearbox" class ="mr-1" value="Manual">Manual
                                    <input type="radio" v-model="form.gearbox" class ="mr-1" value="Automatic">Automatic
                                </td>
                            </tr>
                            <tr>            
                                <td><label for="emissions" class="block text-gray-700 text-sm font-bold mb-2">Emissions Type:</label></td>
                                <td>
                                    <select v-model="form.emissions" class="ml-2 px-4 py-1 text-sm rounded border">
                                        <option selected>(select emission)</option>                                   
                                        <option>Euro 1</option>
                                        <option>Euro 2</option>  
                                        <option>Euro 3</option>    
                                        <option>Euro 4</option>
                                        <option>Euro 5</option>
                                        <option>Euro 6</option> 
                                    </select>
                                </td>
                            </tr>
                            <tr>            
                                <td><label for="service" class="block text-gray-700 text-sm font-bold mb-2">Service Book:</label></td>
                                <td><input type="checkbox" v-model="form.service" true-value="yes" false-value="no" class="form-check-input appearance-none h-4 w-4 border border-gray-300"></td>
                            </tr>    
                            <tr>
                                <td>
                                    <button type="button" @click="submit" class="rounded-l rounded-r px-4 py-2 bg-blue-600 hover:bg-red-700">
                                        Search
                                    </button>
                                </td>
                                <td>
                                    <button @click="reset" class="rounded-l rounded-r px-4 py-2 bg-green-600 hover:bg-yellow-700">
                                        Reset
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </form>                                 
                    </div>                    
                    <br>
                    <div class="flex space-x-4 mb-4">
                        <label for="filter">Filter Results:</label>
                        <select  v-model = "form.filter"  @change="submit" v-if="cars.data.length >=1" class="ml-2 px-4 py-1 text-sm rounded border">
                            <option disabled value="">(filter results)</option>
                            <option value="asc">Price Ascending</option>
                            <option value="desc">Price Descending</option>
                            <option value="newest">Newest</option>
                            <option value="oldest">Oldest</option>
                        </select>
                    </div>
                    <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg px-4 py-4">                    
                        <table class="table-fixed w-full">
                            <thead>
                                <tr class="bg-gray-100">
                                    <th class="px-4 py-2 w-20">CarID.</th>
                                    <th class="px-4 py-2">Brand</th>
                                    <th class="px-4 py-2">Price</th>
                                    <th class="px-4 py-2">Contact User</th>
                                    <th class="px-4 py-2">Car Images</th>
                                    <th class="px-4 py-2">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="cars.data.length > 0" v-for="car in cars.data" :key="car.id">
                                    <td class="border px-4 py-2 text-center">{{ car.id }}</td>
                                    <td class="border px-4 py-2 text-center">{{ car.brand }}</td>
                                    <td class="border px-4 py-2 text-center">{{ car.price }}</td>
                                    <td class="border px-4 py-2 text-center">{{ car.email }}</td>
                                    <td class="border px-4 py-2 center">                                        
                                        <carousel>
                                            <template #slides>
                                                <slide v-for="carphoto in car.photos" :key="carphoto.id">
                                                    <img class="object-cover h-150 w-150" :src="carphoto.image">
                                                </slide>
                                            </template>
                                        </carousel> 
                                    </td>
                                    <td class="border px-4 py-2">
                                        <Link :href="route('cars.show', car.id)" class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded my-3">Show Car</Link>
                                    </td>
                                </tr>
                                <tr v-if="cars.data.length === 0">
                                    <td class="px-6 py-4 border-t" colspan="6">No cars found.</td>
                                </tr>  
                            </tbody>
                        </table>
                        <div class="m-2 p-2">
                            <pagination :links="cars.links" />
                        </div>                     
                    </div>        
                </div>
            </div>
        </div>        
    </div>
</template>
