<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import { Link, useForm } from '@inertiajs/inertia-vue3';
import 'vue3-carousel/dist/carousel.css';
import { Carousel, Slide } from 'vue3-carousel';
import Pagination from '@/Components/Pagination.vue';

const props = defineProps({
    cars: Object   
});
//console.log(props.cars);
const form = useForm();

function deleteCar(id) {
    if (confirm("Are you sure you want to delete this car?")) {
        form.delete(route('cars.destroy', id));
    }
}
</script>

<template>
    <AppLayout title="Mycars">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                MyCars
            </h2>
        </template>
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">                
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg px-4 py-4">                    
                    <Link :href="route('cars.create')" as="button" type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded my-3">Create New Car</Link>
                    <table class="table-fixed w-full">
                        <thead>
                            <tr class="bg-gray-100">
                                <th class="px-4 py-2 w-20">CarId</th>
                                <th class="px-4 py-2">Brand</th>
                                <th class="px-4 py-2">Price</th>  
                                <th class="px-4 py-2">Car Images</th>                         
                                <th class="px-4 py-2">User Contact</th>
                                <th class="px-4 py-2">Actions</th>  
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="car in cars.data" :key="car.id">
                                <td class="border px-4 py-2 text-center">{{ car.id }}</td>
                                <td class="border px-4 py-2 text-center">{{ car.brand }}</td>
                                <td class="border px-4 py-2 text-center">{{ car.price }}</td>                                
                                <td class="border px-4 py-2 center">                                    
                                    <carousel>
                                        <template #slides>
                                            <slide v-for="carphoto in car.carphotos" :key="carphoto.id">
                                                <img class="object-cover h-150 w-150" :src="carphoto.image">
                                            </slide>
                                        </template>
                                    </carousel> 
                                </td>
                                <td class="border px-4 py-2 text-center">{{ car.user.email }}</td>  
                                <td class="border px-4 py-2 text-center">
                                    <Link :href="route('cars.show', car.id)" class="px-4 py-2 text-white bg-blue-600 rounded my-3" >Show Car</Link><br><br>
                                    <Link :href="route('cars.edit', car.id)" class="px-4 py-2 text-white bg-yellow-600 rounded my-3" >Edit Car</Link><br><br>
                                    <Link @click="deleteCar(car.id)" class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded my-3">Delete Car</Link>   
                                </td>  
                            </tr>
                        </tbody>
                    </table>
                    <div class="m-2 p-2">
                        <pagination :links="cars.links" />
                    </div>                   
                    </div>
                </div>
            </div>
        </div>
    </AppLayout>
</template>
