<script setup>
import { Head } from '@inertiajs/inertia-vue3';
import AuthenticationCard from '@/Components/AuthenticationCard.vue';
import 'vue3-carousel/dist/carousel.css';
import { Carousel, Pagination, Navigation, Slide } from 'vue3-carousel';


const props = defineProps({
    car: Object
});

</script>

<template>
    <Head title="Show Car" />
    <AuthenticationCard>
            <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg px-4 py-4">                    
                <table class="table-fixed w-full">
                    <tr>
                        <td colspan="2" class="border px-4 py-2 center">
                            <carousel>
                                <template #slides>
                                    <slide v-for="carphoto in car.carphotos" :key="carphoto.id">
                                        <img :src="carphoto.image" class="object-cover img-fluid.max-width: 100%" height="auto">
                                    </slide>
                                </template>
                                <template #addons>
                                    <Navigation />
                                    <Pagination />
                                </template>
                            </carousel> 
                        </td>        
                    </tr>
                    <tr class="bg-gray-100">
                        <th class="border px-4 py-2 w-20">CarID.</th>
                        <td class="border px-4 py-2 text-center">{{ car.id }}</td>
                    </tr>
                    <tr>    
                        <th class="border px-4 py-2">Brand</th>
                        <td class="border px-4 py-2 text-center">{{ car.brand }}</td>
                    </tr>
                    <tr>    
                        <th class="border px-4 py-2">Year</th>
                        <td class="border px-4 py-2 text-center">{{ car.year }}</td>
                    </tr>
                    <tr>    
                        <th class="border px-4 py-2">Price</th>
                        <td class="border px-4 py-2 text-center">{{ car.price }}</td>
                    </tr>
                    <tr>    
                        <th class="border px-4 py-2">Gearbox</th>
                        <td class="border px-4 py-2 text-center">{{ car.gearbox }}</td>
                    </tr>
                    <tr>    
                        <th class="border px-4 py-2">Emissions</th>
                        <td class="border px-4 py-2 text-center">{{ car.emissions }}</td>
                    </tr>
                    <tr>    
                        <th class="border px-4 py-2">Service Book</th>
                        <td class="border px-4 py-2 text-center">{{ car.service }}</td>
                    </tr>
                    <tr>    
                        <th class="border px-4 py-2">Other Information</th>
                        <td class="border px-4 py-2 text-center">{{ car.information }}</td>
                    </tr>                    
                    <tr>    
                        <th class="border px-4 py-2">Contact User</th>
                        <td class="border px-4 py-2 text-center">{{ car.user.email }}</td>
                    </tr>                            
                </table>                    
            </div>            
    </AuthenticationCard>
</template>
